<h2> Nuevo Todo </h2>

<form action="/todos" method="POST">
    <label for="title"> Titulo </label>
    <input type="text" name="title">
    <br><br>
    <label for="description"> Descripción </label>
    <input type="text" name="description">
    <br><br>
    <button type="submit"> Guardar </button>
</form>

<a href="/"> Volver al listado</a>