<h1>Login de Usuarios</h1>

<form action="/api/sessions/login" method="POST">
    <label for=""> Email </label>
    <input type="text" name="email" required>
    <br><br>

    <label for="password"> Contraseña </label>
    <input type="text" name="password" required>
    <br><br>

    <button type="submit"> Inciar Sesion </button>
</form>
<br>
<a href="/api/sessions/github"> GitHub </a>